*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-color{
    background-color: #650a34;
}

.text-white{
    color: #FEFFFF;
}

.fullscreen{
    height: 100vh;
    width: 100vw;
}

.centerit{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.btn{
    border-radius: 8px;
    padding: 12px 20px;
    margin-top: 8px;
    background-color: transparent;
    border: 1px solid #FEFFFF;
    color: #FEFFFF;
    cursor: pointer;
}

.btn:active{
    transform: translateY(2px);
}